@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong> @ViewData["Name"]</strong><br />
    Rua Antônio Czocher, 90<br />
    Colombo, PR CEP:83.402-370<br />
    <abbr title="Phone">Mobile: </abbr>
    @ViewData["Phone"]
</address>

<address>
    <strong>Support:</strong> @ViewData["Email"]<br />
    <strong>Portfolio:</strong> @ViewData["website"]
</address>
